.spacer {
  flex: 1 1 auto;
}

.mat-card-header {
  color: #fff;
  background-color: #808080;
  margin-top: 20px;
  margin-bottom: 20px
}


.mat-panel {

  &-title {

    width: 100%;

    &-description {
      width: 33%;
      display: inline-block;

      &-city {
        font-weight: 900
      }
    }
  }


  &-expansion {
    margin-bottom: 10px;

    &-header {
      margin-bottom: 10px;
      margin-top: 10px
    }
  }
}

