<mat-toolbar color="primary">
  <mat-toolbar-row class="mat-toolbar-row">
    <span>Live Weather</span>
    <span class="spacer"></span>
    <mat-icon aria-hidden="false" aria-label="cloud icon">cloud</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-accordion>
  <mat-expansion-panel *ngFor="let city of (cityList|async)?.list" (opened)="citySelected(city.id)"
    class="mat-panel-expansion">
    <mat-expansion-panel-header class="mat-panel-expansion-header">
      <mat-panel-title class="mat-panel-title">
        <div class="mat-panel-title">
          <span class="mat-panel-title-description mat-panel-title-description-city"> {{city.name}}</span>
          <span class="mat-panel-title-description"> {{city.main.temp}}°C</span>
          <span class="mat-panel-title-description"> Wind:{{city.wind.speed}}km/h</span>

        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>


    <mat-grid-list class="mat-card-header" cols="3" rowHeight="2:1">
      <mat-grid-tile>Time</mat-grid-tile>
      <mat-grid-tile>Temperature</mat-grid-tile>
      <mat-grid-tile>Wind</mat-grid-tile>
    </mat-grid-list>

    <p *ngFor="let city of (detailedWeather|async)?.list | slice:0:5; ">
      <mat-card>
        <mat-card-content>
          <mat-grid-list cols="3" rowHeight="2:1">
            <mat-grid-tile>{{city.dt_txt|date:'shortTime'}}</mat-grid-tile>
            <mat-grid-tile>{{city.main.temp}}°C</mat-grid-tile>
            <mat-grid-tile>{{city.wind.speed}} km/h</mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </p>

  </mat-expansion-panel>
</mat-accordion>
